@use 'helpers/variables';

#breakfast-title{
  margin-top: 1.5rem; // breakfast title is pushed 100px from the top of the page so that it is directly below the navigation bar
  border-top: variables.$border-style;
  border-bottom: none;
  padding-top: 10px;
}
#breakfast{
  z-index: 1;
  display: flex; /*horizontal layout for breakfast section*/
  border-top: variables.$border-style; 
  border-bottom: variables.$border-style;
  .steps ol li {
    margin-left: 20px;
  }
  /*statically defined image sizes*/
  img{
    @extend %image-size;

  }
  
}
#vegan-pancakes, #overnight-oats{
  margin: 20px;
  width: 50%;

}

#overnight-oats{
  margin-right: 100px;
}
#vegan-pancakes {
  margin-left: 100px;
  img{
    width: 300px;
  }
 
}
.ingredients{
 margin-bottom: 10px;

}

