@use 'helpers/variables';

#lunch-title{
  margin-top: 20px;
}
#veggie-wrap-container{
  display: flex; /*horizontal layout of lunch section*/
  justify-content: center; /*aligns all elements in the center*/
  border-top: variables.$border-style;
  border-bottom: variables.$border-style;
  figure{
    margin: 10px;
  }
  img{ /*statically defined image sizes for lunch images*/
    @extend %image-size;

  }

}

#veggie-wrap{
  margin: auto 3rem;
}

.lunch-ingredients{
  height: 50%;
  margin-top: 7.5rem;
  width: 30%;
}