@use 'helpers/variables';

#dinner-title{
  margin-top: 20px;
}
#dinner{
  display: flex; /*horizontally displayed dinner elements*/
  justify-content: space-around; /*space around each element in the dinner container*/
  border-top: variables.$border-style;
  border-bottom: variables.$border-style;
  figure{
    margin: 10px; /*10px of space around each dinner figure element*/
    figcaption:hover{
      background: white;
    }

  }
  img{ /*statically defined size of dinner img elements*/
    @extend %image-size;
  }
}


