@use 'helpers/variables';
@use 'sass:map';

@media(max-width: map.get(variables.$breakpoints,'medium')){
  #main-image img{
    width:100%;
    height:auto;
  }
  #header #main-title{
    font-size: 20px;
    position: fixed;
    top: 30px;
    left: 20px;
  }
 
  
    #breakfast, #veggie-wrap-container, #dinner{ //apply styling to ids "breakfast","lunch", and "dinner at breakpoint 720px and less
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
    figure{ // all figures will have a margin of 20px
      margin: 20px;
    }
    }
    #overnight-oats{
      margin-right: 0px;
      width: 100%; // the overnight oats section will take up 100% of the width instead of 50%
    }
    #vegan-pancakes{
      margin-left: 0px;
      width: 100%; // the vegan pancakes section will take up 100% of the width instead of 50%
      img{ // images within the vegan pancakes section
        margin: 0px;
        padding: 0px;
        width: 250px;
        height: 200px
    } 
    }
    #dessert-header-images {
      img{
      width: 100%;
      height: auto;
      }
      #brownie-img, #oreo-truffles-img{ /*statically defined image sizes*/
          display: none;
       }
    } 
    #dessert-main-content{
      grid-template-columns: auto; //css grid converts to a one column grid
      grid-template-rows: auto auto auto auto auto auto;
      grid-row-gap: 50px;
      grid-column-gap: 50px;
      img{
      width: 100%;
      height: auto;
      }
      
    }
    #veggie-wrap{
      margin-top: 20px;
    }
    #dessert-title{
      text-align: center;
      padding-left: 0px;
    }
    #return-home{
      text-align: center; // text is shifted to the center
    }
    #search-selectors{
      margin-top: 150px;
      h3{
        font-size: 40px;
      }
      #recipe-selected{
        font-size: 30px;
      }
      button{
        margin-top: 20px;
      }
    
    }
    .lunch-ingredients{
      margin-top: 2.5rem;
      width: 100%;
    }
  
  
  };




