$background-color: white;
$font-family: 'Quicksand', sans-serif;
$hover-color: lighten(complement(gray), 40%);
$img-width:200px;
$img-height:300px;
$nav-background-color:#d3d3d3;
$title-margins: 20px 0px;
$border-style: 1px solid #f4f0f1;
$dessert-background-color: lighten(complement(#efdecd),20%);
$footer-background-color: complement($dessert-background-color);
$header-background-color: rgba(255,255,255, 1);
$breakpoints:( //breakpoints map
  'small': 480px,
  'medium': 830px,
  'large': 1200px
);

//image size placeholder selector
%image-size{
  width: $img-width;
  height: $img-height;
}

