.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #FAF9F6;
  .card {
    width: 30%;
    padding: 0px;
    height: auto;
    text-align: center;
    background-image: url("https://i.pinimg.com/736x/58/66/d8/5866d84ef21811b84a04b0dee1b7631f--marble-texture-gold-marble.jpg");
    margin: 20px;
    img{
     
      &:hover{
        opacity: 0.5;
      }
    }
  }
}
.ingredientItem{
  list-style-type: none;
}
.searchBar{
  width: 100%;
  text-align: center;
  margin: auto;

}
#search-box{
  margin: 0px auto;
}

.imgSize{
  max-width:100%;
  max-height:100%;
  object-fit: cover;

}
.title{
  text-align: center;
  padding: 40px;
  background-color: #FAF9F6;
}

@media(max-width: 630px){
  .container{
    flex-direction: column;
    .card{
      margin: 10px auto;
      width: 90%;
      height: auto;
      img{
        width: 100%;
      }
    }
  }
  
}

@media (min-width: 630px) and (max-width: 1199px) {
  .container{
    .card{
      width: 40%;
    }
  }
  

}
@media (min-width: 875px) and (max-width: 630px) {
  .card{
    width: 100%;
  }

}