.mealContainer{
  display: flex;
  flex-direction: row;
  height: 500px;
  height: auto;
  text-align: center;
}

.recipeOverview{
  // width: 300px;
  // height: 200px;
  img{
    width: 200px;
    height:200px; 
  }
  text-align: center;
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 10px;

  .recipeImg{
    width: 80%;
    height: auto;
    &:hover{
      opacity:0.5;
      cursor: pointer;
    }
  }
  
}

