@use 'helpers/variables';
@use 'helpers/mixins';

*{
  margin: 0px;
  color: black;
  padding: 0px;
  box-sizing: border-box;
  font-family: variables.$font-family;
}
.selected-border{
  border: 2px solid gray;
}
#recipe-link{
  margin-top: 20px;
  display: none;
}
#search{
  height: 15rem;
}
#search-selectors{
  margin-top: 150px;
  h3{
    font-size: 50px;
  }
  #recipe-selected{
    font-size: 40px;
    margin-bottom: 10px;
  }

}

#recipe-button{
  @include mixins.button-style;
  font-size: 2rem;
}

#try-again{
  display: none;
  @include mixins.button-style;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
#recipe-link{
  font-size: 2rem;
}

.accordion-class{
  @include mixins.base-accordion-style; //mixin included
}
.accordion-body{
  padding-top: 1rem;
  border-top: 5px solid;
  border-image: linear-gradient(to right, variables.$background-color, transparent) 1;
  display: none;
}
.active{
  display: block;
}
.accordion-title{
    padding: 0.5rem 2rem 0.5rem 1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
   
    &:hover{
      background-color: gray;
    }
    &:after{
      content: '+';
      color: black;
      font-size: 30px;
      display: flex;

    }
    &.active:after{
      content: '-';

    }
    &.active + .accordion-body{ //when the accordion title includes the class active, apply display: block styling to the adjancent sibling accordion-body
      display: block;

    }
  }
 
body{
  text-align: center;/**parent container centers all text**/
  background: variables.$background-color; //@use requires use of namespace
}

h2{
  text-align: center;
}


#dessert-title{
  padding-top: 10px 0px;
  a{
    text-decoration: none;
  }
}


